<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>


</head>
<body>



{{ content }}

<br>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'dongja3';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript

<br>
<a href="http://dongja3.github.io/blog">Dongja3's Blog on github</a><br>
<a href="http://blog.csdn.net/dongja3" target=_blank>Dongja3's Blog on csdn</a><br>
Contact me: donghs(at)outook.com
<br>
<a href="http://info.flagcounter.com/bsV2"><img src="http://s09.flagcounter.com/count2/bsV2/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>
</body>
</html>


